@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;

    --progress: 142 72% 47%;
    --focus: 262 52% 47%;
    --info: 28 85% 60%;
    --warning: 36 75% 65%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;

    --progress: 142 72% 47%;
    --focus: 262 52% 47%;
    --info: 28 85% 60%;
    --warning: 36 75% 65%;
  }

  .monokai {
    --background: 40 2.2% 14.9%;
    --foreground: 60 8.8% 97.6%;
    --card: 40 2.2% 14.9%;
    --card-foreground: 60 8.8% 97.6%;
    --popover: 40 2.2% 14.9%;
    --popover-foreground: 60 8.8% 97.6%;
    --primary: 336 84.2% 56.9%;
    --primary-foreground: 60 8.8% 97.6%;
    --secondary: 60 4.2% 47.6%;
    --secondary-foreground: 60 8.8% 97.6%;
    --muted: 60 4.2% 47.6%;
    --muted-foreground: 60 8.8% 97.6%;
    --accent: 84 83.3% 48.2%;
    --accent-foreground: 40 2.2% 14.9%;
    --destructive: 336 84.2% 56.9%;
    --destructive-foreground: 60 8.8% 97.6%;
    --border: 60 4.2% 47.6%;
    --input: 60 4.2% 47.6%;
    --ring: 336 84.2% 56.9%;

    --progress: 84 83.3% 48.2%;
    --focus: 185 98.2% 56.9%;
    --info: 279 84.2% 56.9%;
    --warning: 36 75% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
